*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
}

#popclose{
    display: none;
}

#popclose:checked +.popupbox{
    transform: translateY(-50%) scale(0);
}

.popupbox{
    background-color: #CECFE3;
    width: 250px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    z-index: 1000000;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) scale(1.1);
    padding: 10px 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all ease 0.2s;
}

.p1{
    width: 100%;
    display: flex;
    justify-content: end;
    transform: translateX(35px);
}

.p1 i{
    font-size: 25px;
    cursor: pointer;
}

.p2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.p3{
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.p4{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    gap: 20px;
    margin-bottom: 8px;
}

.pleft{
    background-color: white;
    border: 1px solid #938b7683;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.pleft:hover{
    transform: scale(1.1);
}

.pright{
    background-color: #938B76;
    border: 1px solid #938b7683;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.pright:hover{
    transform: scale(1.1);
}

.head{
    width: 100vw;
    height: 50px;
    background-color: #CECFE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 15px;
}

.headleft{
    display: flex;
    gap: 20px;
    margin-left: 50px;
} 


.headright{
    display: flex;
    gap: 15px;
    margin-right: 50px;
    align-items: center;
}

.login{
    display: flex;
    margin-right: 40px;
    background-color: #938B76;
    padding: 8px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.loginbig{
    margin: 0;
    padding: 0;
    
}

.loginbox{
    display: flex;
    width: 50px;

    background-color: #938B76;
}

.skip{
    position: absolute;
    font-size: 10px;
    text-decoration: none;
    color: #938B76;
}

.skip:focus{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #938B76;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 50px;
}

.light{
    color:#CECFE3;
}

.current{
    background-color: #CECFE3;
    padding: 5px 10px;
    border-radius: 50px;
}

.current1 i{
    color: #CECFE3;
}

nav .outer{
    display: flex;
    list-style: none;
    
}

nav .outer li{
    padding: 0 20px;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

nav .outer li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    transition: all ease 0.5s;
}

nav .outer li a:hover{
    background-color: #CECFE3;
    padding: 5px 10px;
    border-radius: 50px;
}

.parent{
    position: relative;
}

.inner{
    display: none;
    position: absolute;
    top: 70px;
    width: 200px;
    left: 0;
    background-color: #938b76f3;
}

.parent:hover .inner{
    display: block;
}

nav .outer .inner li{
    height: 50px;
}

.navend{
    display: flex;
    margin-right: 50px;
    gap: 20px;
    align-items: center;
}

.searchbox{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    transition: all ease 0.5s;
}

.searchbox input{
    width: 0;
    border: none;
    outline: none;
    transition: all ease 0.5s;
}

.icon{
    background-color: black;
    color: #938B76;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox:hover input{
    width: 150px;
    padding: 5px 15px;
}

.cart{
    font-size: 20px;
    color: black;
}

.menubar{
    display: none;
}

#check{
    display: none;
}

@media(max-width: 850px){
    header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    nav{
        background-color: #938b76f3;
        border: 2px solid rgba(0, 0, 0, 0.308);
        border-radius: 15px;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        height: 300px;
        overflow-y: scroll;
        padding-top: 20px;
        transform: scale(0);
        transition: all ease 0.2s;
    }

    #check:checked +.navbar{
        transform: scale(1);
    }

    .menubar{ 
        display: block;
        margin-right: 30px;
        font-size: 25px;
        cursor: pointer;
    }

    nav::-webkit-scrollbar{
        display: none;
    }

    .outer{
        display: flex;
        flex-direction: column;
    }

    nav .outer li{
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav .outer li .link{
        display: flex;
        align-items: center;
        min-height: 50px;
    }

    .inner{
        top: 50px;
        align-items: center;
        position: static;
        display: block;
    }

    nav .outer .parent{
        display: flex;
        flex-direction: column;
        height: 50px;
        overflow: hidden;
        justify-content: start;
    }

    nav .outer .parent:hover{
        height: 200px;
    }

}

.slide{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.slide h2{
    display: none;
}

.slideshowbox{
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

.slideshow{
    width: 100vw;
    display: flex;
    animation-name: slide;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

img{
    width: 100%;
}

@keyframes slide{
    0%{transform: translateX(0%);}
    25%{transform: translateX(-100%);}
    50%{transform: translateX(-200%);}
    75%{transform: translateX(-300%);}
    100%{transform: translateX(-400%);}
}

.discount{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #E6EAED;
    padding: 60px 90px;
    justify-content: space-between;
}

.discount h2{
    display: none;
}

.discountleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discounttext{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.discounttext1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.discounttext2{
    background-color: #938B76;
    border: 2px solid #938B76;
    width: max-content;
    padding: 6px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
}

.discounttext2:hover{
    background-color: white;
    border: 2px solid #938B76;
}

.discountright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discountright video{
    width: 390px;
    border-radius: 10px;
}

.homepagehealth{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 90px;
    justify-content: space-between;
    background-color: #E6EAED;
}

.homepagehealth h2{
    display: none;
}

.leftside{
    display: flex;
    align-items: center;
}

.leftside img{
    width: 450px;
    border-radius: 10px;
}

.homepagetext{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #938B76;
}

.homepagetext1{
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.homepagetext1 i{
    margin-right: 10px;
    color: #938B76;
}

.big{
    background-color: #E6EAED;
    width: 100vw;
    padding: 30px 20px;
}

.bestseller{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-top: 2px solid #938B76;
    border-bottom: 2px solid #938B76;
}

.midbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.smallbox{
    width: 270px;
    min-width: 260px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.752);
    transition: all ease 0.5s;
    cursor: pointer;
}

.smallbox:hover{
    transform: scale(1.05);
}

.smallbox img{
    width: 100%;
}

.nametext{
    margin-left: 10px;
    margin-bottom: 10px;
}

.nametext h1{
    font-size: 16px;
    font-weight: 500;
    
}

.nametext i{
    color: #F4BC83;
}

.pricebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.left{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.right{
    margin-right: 20px;
    font-size: 20px;
    color: black;
}

.floatbox{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #E6EAED;
    padding: 40px 70px;
}

.floatboxleft{
    margin-right: 30px;
}

.floatboxleft img{
    width: 390px;
    border-radius: 10px;
    border: 1px solid #938B76;
}

.floatboxright{
    display: flex;
    width: 620px;
    min-width: 280px;
    flex-direction: column;
}

.floatboxright h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    width: max-content;
    border-bottom: 2px solid #938B76;
}

.floatboxtext{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.health1{
    display: flex;
    background-color: #E6EAED;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding: 20px;
}

.health1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.health1 img{
    width: 850px;
    height: 300px;
    border-radius: 10px;
}

.health2{
    display: flex;
    background-color: #E6EAED;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.health2 h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
    background-color: #CECFE3;
}

.health2bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.health2bottom1{
    width: 300px;
}

.h2bottom1{
    width: 300px;
}

.h2bottom1 img{
    width: 100%;
    border-radius: 5px;
    border: 2px solid #CECFE3;
}

.h2text1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.h2text2{
    font-size: 15px;
    font-weight: 500;
}

.videosection{
    display: flex;
    flex-wrap: wrap;
    background-color: #E6EAED;
    width: 100vw;
    padding: 50px;
}

.videosection h2{
    display: none;
}

.videoleft{
    display: flex;
    width: 600px;
    align-items: center;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

.videoright video{
    width: 450px;
    border: 2px solid #CECFE3;
    border-radius: 10px;
}

.audiosection {
    display: flex;
    background-color: #E6EAED;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-right: 90px;
    padding-bottom: 20px;
}

.audiosection i{
    font-size: 20px;
    font-weight: 700;
}

.audiosection h2{
    font-size: 12px;
    font-weight: 300;
}

.audiosection audio{
    height: 30px;
    border: 1px solid #CECFE3;
    border-radius: 15px;
}

.contactbox {
    width: 100vw;
    padding: 40px 90px;
    background-color: #CECFE3;
    display: flex;
    flex-direction: column;
}

.contacttop {
    width: 100%;
    height: 100px;
	text-align: center;
    margin-bottom: 25px;
}

.contactbox h2{
    display: none;
}

.textcontact{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

.textcontact1{
    font-size: 16px;
    font-weight: 500;
}

.contactbottom {
	display: flex;
    flex-wrap: wrap;
}

.cbotleft {
    width: 23%;
    min-width: 250px;
    margin-right: 250px;
}

.one {
	margin-bottom: 40px;
}

.one i {
	background-color: #938B76 ;
	border-radius: 50%;
	padding: 15px;
	vertical-align: top;
}

.two {
    font-size: 15px;
	display: inline-block;
	padding: 4px 20px 0px 20px;
}

.three {
	color: #938B76;
    font-size: 18px;
    font-weight: 700;
}

.cbotright{
    display: flex;
    margin-top: 25px;
    width: 35%;
    min-width: 250px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cbotright input{
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    transition: all ease 0.3s;
}

.cbotright textarea{
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
    height: 100px;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    transition: all ease 0.3s;
}

.cbotright input:focus,.cbotright textarea:focus{
    transform: scale(1.1);
}

.cbotright button{
    font-weight: 500;
    padding: 5px 15px;
    width: 100px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.433);
    background-color: #938B76;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.cbotright button:hover{
    transform: scale(1.08);
}

.mapbox iframe{
    width: 100vw;
    height: 280px;
}

.mapbox h2{
    display: none;
}

.cartbox{
    width: 100vw;
    background-color: #CECFE3;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cartbox h2{
    display: none;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th{
    text-align: start;
    font-size: 20px;
    padding: 15px;
}

table td input{
    width: 50px;
    font-size: 16px;
    padding: 8px;
}

.price{
    font-size: 18px;
    font-weight: 600;
}

.details{
    display: flex;
    padding: 20px;
}

.detailsleft img{
    width: 100px;
    border: 5px solid #938b767e;
}

.detailsright{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 30px;
}

.detailtext1{
    font-size: 17px;
    font-weight: 400;
}

.detailtext2{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.detailtext3{
    font-size: 15px;
    font-weight: 500;
    background-color: #938b767e;
    width: max-content;
    padding:0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.detailtext3:hover{
    transition: all ease 0.3s;
    transform: scale(1.1);
}

.result{
    width: 350px;
    border-top: 2px solid black;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
}

.result2{
    background-color: #938B76;
    font-weight: 600;
    width: 120px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.445);
    cursor: pointer;
    transition: all ease 0.3s;
}

.result2:hover{
    transition: all ease 0.3s;
    transform: scale(1.05);
}

footer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: #938B76;
    padding: 20px 50px;
}

.footertop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}

.first{
    width: 23%;
    min-width: 250px;
}

.first h1{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.first p{
    font-size: 13px;
    line-height: 20px;
}

.second{
    width: 23%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.text1{
    font-size: 20px;
    font-weight: 500;
    color:#CECFE3;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}

.third{
    width: 23%;
    min-width: 250px;
}

.fourth{
    width: 23%;
    min-width: 250px;
}

.fourth h1{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.mailbox{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mailbox i{
    font-size: 12px;
    font-weight: 600;
}

.subbuttom{
    background-color: #CECFE3;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;transition: all ease 0.3s;
}

.subbuttom:hover{
    transform: scale(1.05);
    transition: all ease 0.3s;
}

.footerbottom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footerbotleft{
    display: flex;
    gap: 40px;
}

.footerbotleft i{
    color: black;
    background-color: #CECFE3;
    font-size: 12px;
    padding: 8px;
    border-radius: 50px;
}

.footerbotright{
    font-size: 10px;
}